config SHIELD_LEIGHBOARD26_LEFT
    def_bool $(shields_list_contains,leighboard26_left)

config SHIELD_LEIGHBOARD26_RIGHT
    def_bool $(shields_list_contains,leighboard26_right)

config SHIELD_LEIGHBOARD26_DONGLE
    def_bool $(shields_list_contains,leighboard26_dongle)
