#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE_0 0
#define NUMBERS_1 1
#define ARROWS_2 2
#define SHORTCUTS_3 3
#define SYMBOLS_4 4
#define EXTRA_5 5
#define EXTRA_6 6

/ {
    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp FSLH>, <&kp STAR>, <&kp N0>;
        };
                td1: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp MINUS>, <&kp PLUS>, <&kp N0>;
        };
    };

    macros {
        leigh_b: leigh_b {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>; 
            bindings
                = <&kp L &kp E &kp I &kp G &kp H>
                , <&kp DOT>
                , <&kp B &kp O &kp T &kp T &kp E &kp C &kp H &kp I &kp A>
                ;
        };

        login: login {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N6 &kp N0 &kp N0 &kp N6 &kp N1 &kp N8>;
        };

        bday: bday {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N1 &kp N8 &kp N0 &kp N3 &kp N9 &kp N4>;
        };
    };
    
        combos {
            compatible = "zmk,combos";
                    combo_esc {
                timeout-ms = <35>;
                key-positions = <20 21>;
                layers = <0 1>;
                bindings = <&kp ESC>;
            };
                    combo_delete {
                timeout-ms = <35>;
                key-positions = <21 22>;
                layers = <0 1>;
                bindings = <&kp DEL>;
            };
                    combo_enter {
                timeout-ms = <35>;
                key-positions = <22 23>;
                layers = <0 1>;
                bindings = <&kp RET>;
            };
                    combo_win1 {
                timeout-ms = <35>;
                key-positions = <23 24>;
                layers = <0 1>;
                bindings = <&kp LGUI>;
            };
                    combo_win2 {
                timeout-ms = <35>;
                key-positions = <25 26>;
                layers = <0 1>;
                bindings = <&kp RGUI>;
            };
                    combo_alt1 {
                timeout-ms = <35>;
                key-positions = <3 4>;
                layers = <0 1>;
                bindings = <&kp LALT>;
            };
                    combo_alt2 {
                timeout-ms = <35>;
                key-positions = <5 6>;
                layers = <0 1>;
                bindings = <&kp RALT>;
            };
                    combo_nums {
                timeout-ms = <35>;
                key-positions = <20 21 22>;
                layers = <0 1>;
                bindings = <&tog 1>;
            };
                    combo_print {
                timeout-ms = <35>;
                key-positions = <20 22>;
                layers = <0 1>;
                bindings = <&tog 1>;
            };
                    combo_snip {
                timeout-ms = <35>;
                key-positions = <21 23>;
                layers = <0 1>;
                bindings = <&tog 1>;
            };
        };

        keymap {
                compatible = "zmk,keymap";

                base_0_layer {
                        bindings = <
&kp Q       &kp W &kp F &kp P &kp G    &kp J &kp L &kp U     &kp Y   &kp SQT
&lt 1 A     &kp R &kp S &kp T &kp D    &kp H &kp N &kp E     &kp I   &lt 3 O
&mt LSHFT Z &kp X &kp C &kp V &kp B    &kp K &kp M &kp COMMA &kp DOT &kp QMARK
                &lt 3 SPACE &kp LCTRL       &kp RSHFT &lt 4 BSPC
                        >;
                };

                numbers_1_layer {
                        bindings = <
&kp UNDER  &kp N7 &kp N8 &kp N9 &td0                &kp K_VOL_UP &mkp LCLK      &mmv MOVE_UP   &mkp RCLK       &trans
&kp K_CALC &kp N4 &kp N5 &kp N6 &td1                &kp K_VOL_DN &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &trans
&tog 1     &kp N1 &kp N2 &kp N3 &kp DOT             &kp K_MUTE   &kp K_PREV     &kp K_PP       &kp K_NEXT      &trans
                    &lt 3 N0 &kp BSPC                &trans &trans
                        >;
                };

                arrows_2_layer {
                        bindings = <
&trans &kp F7 &kp F8 &kp F9 &kp F10                   &kp PG_UP &kp HOME      &kp UP   &kp END       &trans
&trans &kp F4 &kp F5 &kp F6 &kp F11                   &kp PG_DN &kp LEFT      &kp DOWN &kp RIGHT     &trans
&trans &kp F1 &kp F2 &kp F3 &kp F12                   &trans    &kp LC(PG_UP) &trans   &kp LC(PG_UP) &trans
                        &mo 3 &trans                &trans &trans
                        >;
                };

                shortcuts_3_layer {
                        bindings = <
&kp LEFT  &kp DOWN        &kp UP      &kp RIGHT   &kp RA(F4)     &trans  &kp LG(UP)   &trans       &trans        &trans
&trans    &kp LALT        &kp LS(TAB) &kp TAB     &kp LA(TAB)    &trans  &kp LG(LEFT) &kp LG(DOWN) &kp LG(RIGHT) &trans   
&kp LG(E) &kp LC(LS(TAB)) &kp LC(W)   &kp LC(TAB) &kp LC(Y)      &kp INS &kp CAPS     &kp LNLCK    &kp LSLCK     &kp PSCRN
                                            &trans &trans        &trans &trans
                        >;
                };

                symbols_4_layer {
                        bindings = <
&kp EQUAL &trans    &kp FSLH  &kp PRCNT &kp GRAVE          &trans   &kp PLUS     &kp UNDER    &kp LBRC &kp RBRC
&kp AT    &kp CARET &kp STAR  &kp TILDE &kp MINUS          &kp HASH &kp AMPS     &kp EXCL     &kp LPAR &kp RPAR
&kp PIPE  &trans    &kp COLON &trans    &kp BSLH           &trans   &kp LS(LBKT) &kp LS(RBKT) &kp LBKT &kp RBKT
                                   &trans &trans             &trans &trans         
                        >;
                };

                extra_5_layer {
                        bindings = <
&kp Q       &kp W &kp F &kp P &kp G    &kp J &kp L &kp U     &kp Y   &kp SQT
&lt 1 A     &kp R &kp S &kp T &kp D    &kp H &kp N &kp E     &kp I   &lt 3 O
&mt LSHFT Z &kp X &kp C &kp V &kp B    &kp K &kp M &kp COMMA &kp DOT &kp QMARK
                &lt 3 SPACE &kp LCTRL       &kp RSHFT &lt 4 BSPC
                        >;
                };

                extra_6_layer {
                        bindings = <
&kp Q       &kp W &kp F &kp P &kp G    &kp J &kp L &kp U     &kp Y   &kp SQT
&lt 1 A     &kp R &kp S &kp T &kp D    &kp H &kp N &kp E     &kp I   &lt 3 O
&mt LSHFT Z &kp X &kp C &kp V &kp B    &kp K &kp M &kp COMMA &kp DOT &kp QMARK
                &lt 3 SPACE &kp LCTRL       &kp RSHFT &lt 4 BSPC
                        >;
                };
        };
};