#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp FSLH>, <&kp STAR>, <&kp PLUS>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &td0
            >;
        };
    };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                layer_0 {

                        bindings = <
&kp Q       &kp W &kp F &kp P &kp G    &kp J &kp L &kp U     &kp Y   &kp SQT
&lt 1 A     &kp R &kp S &kp T &kp D    &kp H &kp N &kp E     &kp I   &lt 3 O
&mt LSHFT Z &kp X &kp C &kp V &kp B    &kp K &kp M &kp COMMA &kp DOT &kp QMARK
                &lt 3 SPACE &kp LCTRL       &kp RSHFT &lt 4 BSPC
                        >;
                };

                layer_1 {

                        bindings = <
&kp UNDER  &kp N7 &kp N8 &kp N9 &td0                &trans     &kp LC(LG(LEFT)) &kp LG(UP) &kp LC(LG(RIGHT)) &trans
&kp K_CALC &kp N4 &kp N5 &kp N6 &td1                &trans     &trans           &trans     &kp LG(LEFT)      &kp LG(DOWN)
&tog 2     &kp N1 &kp N2 &kp N3 &kp KP_DOT          &trans     &trans           &trans     &trans            &trans 
                         &kp N0 &kp BSPC    &trans &trans
                        >;
                };

                layer_2 {
                        bindings = <
&trans &kp F7 &kp F8 &kp F9 &kp F10                   &kp PG_UP &kp HOME      &kp UP   &kp END       &trans
&trans &kp F4 &kp F5 &kp F6 &kp F11                   &kp PG_DN &kp LEFT      &kp DOWN &kp RIGHT     &trans
&trans &kp F1 &kp F2 &kp F3 &kp F12                   &trans    &kp LC(PG_UP) &trans   &kp LC(PG_UP) &trans
                 &trans &trans &trans &trans             
                        >;
                };

                layer_3 {

                        bindings = <
&kp LEFT          &kp DOWN        &kp UP    &kp RIGHT   &kp RA(F4)              &trans &trans &trans &trans &trans
&kp LG(E)         &kp LS(LA(TAB)) &kp TAB   &kp LA(TAB) &trans    &trans        &trans &trans &trans &trans &trans
&kp LS(LG(RIGHT)) &kp LC(LS(TAB)) &kp LC(W) &kp LC(TAB) &kp LC(Y) &trans        &trans &trans &trans &trans &trans
                                                  &trans &trans &trans &trans              
                        >;
                };

                layer_4 {

                        bindings = <
&trans &trans  &trans   &kp PRCNT &kp GRAVE             &kp CAPS &kp CARET &kp BSLH &kp FSLH
&kp AT &trans  &kp STAR &kp TILDE &kp DLLR              &kp HASH &kp AMPS &kp EXCL &kp LPAR &kp RPAR 
&trans &kp INS &kp SLCK &kp LNLCK &trans                &trans &kp LS(LBKT) &kp LS(RBKT) &kp LBKT &kp RBKT 
                         &trans &trans &trans &trans         
                        >;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;

                };
        };
};